*
body{
  background-color:#FFFFCC ;

}
.navbar{
  background-color:transparent;
  padding:40px;
  height: 25px;
  position: fixed;
 

}

.logo1{
  width: 20%;
  margin-right: 650px;
  
}

.nav-item{
margin-right:3px;
}
.nav-link{
color: #FFE4C4;
}
.nav-link:hover{
  color:#A9A9A9 ;
}
.img3{
	width: 30%;
	margin-left: 540px;
	margin-top: 100px;
}
h3{
	text-align: center;
	font-family: 'Cormorant Garamond';
	margin-top: 10px;
}
p{
	font-family: 'Cormorant Garamond';
 font-size: 20px;
 text-align: center;
}
.footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#fff;
   color: #000;
   text-align: center;
   text-decoration: none;
   padding: 15px;


 }

.faa{
  color: #000;
  padding: 20px;

  }
  .faa:hover{
    color:  grey;
    text-decoration: none;
  }
  .fa {
 padding: 5px;
  
}
.fa:hover {
    opacity: 0.7;
    color: grey;
    text-decoration: none;
}

.fa-facebook {
  background: #000;
  color: white;
  border-radius: 30%;
  margin-right:10px;
}

.fa-twitter {
  background: #000;
  color: white;
  border-radius: 50%;
  \margin-right:10px;
}

.fa-instagram {
  background: #000;
  color: white;
  border-radius: 50%;
  margin-right:10px;
}
