*
body{
background-color: #FAEBF5; 
}
section{
  background-image: url(images/wine.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.navbar{
  background-color:transparent;
  padding:40px;
  height: 25px;
  position: fixed;
}

.logo1{
  width: 20%;
  margin-right: 650px;  
}

.nav-item{
margin-right:3px;
}

.nav-link{
color: #A9A9A9;
font-size: 18px;
}

.nav-link:hover{
  color:#fff;
}

.btn{
  font-size: 30px;
	margin-top: 200px;
	color: #A52A2A;
	background-color: transparent;
	margin-left: 230px;
	padding: 10px;
}

.btn:hover{
color: pink;
}
p{
  font-size: 25px;
  color: #fff;
   background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#fff;
   color: #000;
   text-align: center;
   text-decoration: none;
   padding: 15px;
 }

.faa{
  color: #000;
  padding: 20px;
  }

  .faa:hover{
    color:  grey;
    text-decoration: none;
  }

  .fa {
 padding: 5px;  
}

.fa:hover {
    opacity: 0.7;
    color: grey;
    text-decoration: none;
}

.fa-facebook {
  background: #000;
  color: white;
  border-radius: 30%;
  margin-right:10px;
}

.fa-twitter {
  background: #000;
  color: white;
  border-radius: 50%;
  margin-right:10px;
}

.fa-instagram {
  background: #000;
  color: white;
  border-radius: 50%;
  margin-right:10px;
}
